body,
body * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: rgb(202, 202, 202);
    padding: 5px 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.component-style {
    background: white;
    border-radius: 5px;
    margin: 2px;
    padding: 10px 5px;

    /* shadow */
    box-shadow: 6px 6px 6px 0px rgba(130, 130, 130, 0.46);
    -webkit-box-shadow: 6px 6px 6px 0px rgba(130, 130, 130, 0.46);
    -moz-box-shadow: 6px 6px 6px 0px rgba(130, 130, 130, 0.46);
}

div {
    display: flex;
}

aside {
    width: 40%;
    min-width: 125px;
}

p {
    color: gray;
    max-height: 20vh;
    overflow: scroll;
}

header,
footer {
    height: 35px;
    position: sticky;
}